<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
	   

    <title>WebApp Prediksi Obat Pasien</title>
	</head>
<body
        class="
            flex flex-col
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-red-400
            to-blue-500
            text-gray-800
            md:flex-row
        "
    >
        <main class="bg-white p-16 rounded-lg">
            <h1 class="text-3xl font-bold mb-8">
                Prediksi Obat Pasien
            </h1>

    <div class="container my-2">
        <form method="POST">
            {{form.hidden_tag()}}

            {{form.name.label}}
			<input
                    type="text"
					class="p-4 bg-gray-200 rounded-md"
					size="5"
					placeholder="Nama"
                    id="name"
					name="name"
                    required="required"
 
            />
            <br>
			<br>
            {{form.age.label}}
			<input
                    type="number"
					class="p-4 bg-gray-200 rounded-md"
					size="50"
					placeholder="Umur"
                    id="age"
					name="age"
                    required="required"
 
            />
            <br>
			<br>
            {{form.gender.label}}
            <br>
			<select
                    name="gender"
                    id="gender"
                    class="p-4 bg-gray-200 rounded-md"
            >
                    <option value="M">Laki-laki</option>
                    <option value="F">Perempuan</option>
            </select>
            <br>
            <br>

            {{form.bp.label}}
            <br>
			<select
                    name="bp"
                    id="bp"
                    class="p-4 bg-gray-200 rounded-md"
            >
                    <option value="HIGH">TINGGI</option>
					<option value="NORMAL">NORMAL</option>
					<option value="LOW">RENDAH</option>
            </select>
            <br>
            <br>
           

            {{form.cholesterol.label}}
            <br>
			<select
                    name="cholesterol"
                    id="cholesterol"
                    class="p-4 bg-gray-200 rounded-md"
            >
                    <option value="HIGH">TINGGI</option>
					<option value="NORMAL">NORMAL</option>
            </select>
            <br>
            <br>

            {{form.na_to_k.label}}
            <input
                    type="number"
					step="0.001"
					class="p-4 bg-gray-200 rounded-md"
					size="30"
					placeholder="Rasio Na"
                    id="na_to_k"
					name="na_to_k"
                    required="required"
 
            />
            <br>
			<br>
            <button
                    type="submit"
                    class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-blue-500
                        text-white
                        rounded-md
                    "
                >
                    PREDIKSI
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                    >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
		</main>
        </form>
        <hr>
		<section class="mt-8 h-full flex-auto rounded-lg md:mt-0 md:ml-8">
            <div class="bg-white p-16 rounded-lg">
		<h3>Nama Anda &ensp;&ensp;&ensp;&ensp;:  {{session['name']}}</h3>	
		<h3>Usia Anda &emsp;&ensp;&emsp;:  {{session['age']}}</h3><br><br>
        <h1 class="text-2xl mb-8">Obat yang direkomendasikan buat anda adalah {{session['result']}}</h1>
			</div>
	</div>
			<div class="bg-white p-16 rounded-lg mt-8">
		<h3 class="text-2xl mb-8">Keterangan Obat</h3>
		<p>drugA : A-Methapred, A-Methapred dan Aalimumab-adaz</p>
		<p>drugB : Bamlanivimab, Etesevimab, Bacitracin dam Polymyxin</p>
		<p>drugC : Calcium carbonate, Chlorthalidone, Cyclobenzaprin</p>
		<p>drugX : Decadron, Demerol, Descovy</p>
		<p>DrugY : Elavil, Enbrel, Estrace</p>
			</div>
		</section>
</body>
</html>
